version: "3.10"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  timescaledb:
    image: timescale/timescaledb:latest-pg15
    container_name: timescaledb
    environment:
      POSTGRES_USER: tsuser
      POSTGRES_PASSWORD: ts_password
      POSTGRES_DB: timeseries
    ports:
      - "5432:5432"
    volumes:
      - timescaledb-data:/var/lib/postgresql/data
      - ./k8s/timescaledb-init:/docker-entrypoint-initdb.d

  anomaly-status-db:
    image: postgres:15-alpine
    container_name: anomaly-status-db
    environment:
      POSTGRES_USER: tsuser
      POSTGRES_PASSWORD: ts_password
      POSTGRES_DB: anomaly_status
    ports:
      - "5435:5432"
    volumes:
      - anomaly-status-data:/var/lib/postgresql/data
      - ./k8s/status-db-init/anomaly:/docker-entrypoint-initdb.d

  stats-status-db:
    image: postgres:15-alpine
    container_name: stats-status-db
    environment:
      POSTGRES_USER: tsuser
      POSTGRES_PASSWORD: ts_password
      POSTGRES_DB: stats_status
    ports:
      - "5436:5432"
    volumes:
      - stats-status-data:/var/lib/postgresql/data
      - ./k8s/status-db-init/stats:/docker-entrypoint-initdb.d

  anomaly_service:
    build:
      context: ./anomaly_service
    container_name: anomaly_service
    depends_on:
      - timescaledb
      - kafka
      - anomaly-status-db
    environment:
      DATABASE_URL: postgresql+psycopg2://tsuser:ts_password@timescaledb:5432/timeseries
      STATUS_DATABASE_URL: postgresql+psycopg2://tsuser:ts_password@anomaly-status-db:5432/anomaly_status
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      KAFKA_TOPIC: data.preprocessing.completed
      KAFKA_GROUP_ID: anomaly-service-group
      KAFKA_OUTPUT_TOPIC: data.anomaly.completed
    ports:
      - "8001:8001"

  stats_service:
    build:
      context: ./stats_service
    container_name: stats_service
    depends_on:
      - timescaledb
      - kafka
      - stats-status-db
    environment:
      DATABASE_URL: postgresql+psycopg2://tsuser:ts_password@timescaledb:5432/timeseries
      STATUS_DATABASE_URL: postgresql+psycopg2://tsuser:ts_password@stats-status-db:5432/stats_status
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    ports:
      - "8002:8002"

volumes:
  timescaledb-data:
  anomaly-status-data:
  stats-status-data:
